// style text
$font: system-ui, sans-serif;
$font-size: 1.2rem;
$mono: monospace;

// colors
$text: #0d0d0d;
$link: #0479A8;
$background: #f5f5f5;
$border: #7c7f93;
$accent: #c5050c;

@media (prefers-color-scheme: dark) {
    $text: #f5f5f5;
    $link: #89b4fa;
    $background: #0d0d0d;
    $border: #ccd0da;
    $accent: #f38ba8;
}

// layout
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	margin: 2rem auto;
	margin-top: 0rem;
	padding: 1rem;
}

body {
	font-family: system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height:1.5;
	font-size: $font-size;
	color: $text;
	background: $background;
}

// configure header
header {
	display: flex;
	padding: 1rem;
	font-weight: 200px;
	font-size: calc($font-size + 0.2rem);
	text-align: right;
	width: 12rem;
	white-space: nowrap;

	// fix sidebar in place
	position: sticky;
	top: 0;
	height: 100%;

	li {
		margin-right: 2rem;
	}

	ul {
		// background: red;
	}

}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin: 1rem auto 0 auto;
}

// set text max width to 85% window size
article {
	margin-left: 0.5rem;
	width: 50rem;
	max-width: 80vw;
	min-height: 70vh;
}

// style section lists
.list {
	display: grid;
	gap: 8px;
	grid-template-columns: 2fr 1fr 1fr;

	div {
		overflow: hidden;
		text-overflow: ellipsis;
	}

}

.shelf {
	display: grid;
	gap: 8px;
	grid-template-columns: 1fr 0.75fr min-content 120px;

	div {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

}

.list a, .shelf a {
	text-decoration: none;
	color: $text;
}

// set text decorations
blockquote {
	font-style: italic;
	padding-left: 1rem;
	border-left: 3px solid $accent;
}

a {
	text-decoration-skip-ink: auto;
	text-decoration: underline;
	color: $link;
}

a.accent {
	color: $accent;
}

nav {

	li {
		list-style-type: none;
		line-height: 2;
	}

	a {
		text-decoration: none;
		color: $text;
	}

}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	text-decoration: none; // remove heading underline
}

article h1:first-child {
	margin-top: 0;
}

header a {
	text-decoration: none; // remove underline in nav
	color: $text; // uncolor links
}

// change menu on small screens
@media screen and (max-width: 768px ) {

	article {
		max-width: 100%;
	}

	// .list {
// 
		// li {
			// justify-content: none;
			// display: block;
		// }
	// }

	header {
		position: relative;
		display: block;

		ul {
			// display: flex;
			padding-bottom: 2rem;
			border-bottom: 1px;
			border-color: $border;
		}

	}

	.posts, .shelf {
		grid-template-columns: 1fr;
		grid-row-gap: 0px;

		div {
			white-space: normal;
		}

		div.last {
			height: 3rem;
		}
	}

}