// layout
main {
	display: flex;
	flex-wrap: wrap;
	max-width: 50rem;
	margin: 2rem auto;
	margin-top: 0rem;
	padding: 1rem;
	padding-top: 0rem;
	min-height: 85vh;
}

header {
	display: flex;
	flex-direction: column;
	position: fixed;
	padding: 1rem;
	padding-bottom: 0rem;
	font-weight: 200px;
	font-size: 1.8rem;
	text-align: right;
}

header li {
	// display: inline;
	margin-right: 1rem;
}

header ul {
	// display: flex;
	float: center;
	padding-bottom: 2rem;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin: 1rem auto 0 auto;
}

// text rendering
body {
	font-family: system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height:1.5;
	font-size: 1.2rem;
	color: var(--text);
	background: var(--background);
}

blockquote {
	font-style: italic;
    padding-left: 1rem;
	border-left: 3px solid var(--accent);
}

nav li {
	list-style-type: none;
	line-height: 2;
}

nav a {
	text-decoration: none;
	color: var(--text);
}

// links
a {
	text-decoration-skip-ink: auto;
	text-decoration: underline;
	color: var(--link);
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a, header a {
	text-decoration: none;
}

header a {
	text-decoration: none;
	color: var(--text);
}

header a.active {
	font-weight: bold;
}

// responsive design
@media screen and (max-width: 45rem ) {

	header{
		position: relative;
	}

	header ul {
		display: flex;
		float: center;
		padding-bottom: 2rem;
		border-bottom: 0px;
	}

}