{{ define "main" }}
<main>
	<article>
		<h1>{{ .Title }}</h1>
		Published <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "2006-01-02" }}</time> &Backslash; Updated <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05" }}">{{ .Lastmod.Format "2006-01-02" }}</time>
		<div>
			{{ partial "textprocessing.html" .Content }}
		</div>
		{{ with .Params.tags }}
		<div>
			<ul id="tags">
				{{ range . }}
				<li><a href="{{ "/tags/" | relLangURL }}{{ . |urlize }}">{{ . }}</a></li>
				{{ end }}
			</ul>
		</div>
		{{ end }}
		{{ with .Site.DisqusShortname }}
		<div>
			{{ template "_internal/disqus.html" . }}
		</div>
		{{ end }}
		<div>
			<p>The page {{ .Title }} first appeared at <a href="{{ .Site.BaseURL }}{{ .RelPermalink }}">{{ .Site.BaseURL }}{{ .RelPermalink }}</a></p>
		</div>
	</article>
</main>
{{ end }}
